{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    # "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "no-console": 0,
        "comma-dangle": ["error", "never"],
        "extensions": 0
    }
}
