.env
node_modules
*.log*
coverage
public/*
!public/.gitkeep
.DS_Store

# Elastic Beanstalk Files
# .elasticbeanstalk/*
# !.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.config.yml
# !.elasticbeanstalk/*.global.yml
