.env
node_modules
*.log*
coverage
public/*
!public/.gitkeep
.DS_Store
bin/summer-schedule-2017.json

# Elastic Beanstalk Files
# .elasticbeanstalk/*
# !.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.config.yml
# !.elasticbeanstalk/*.global.yml
