<!doctype html>
<html lang="en">
<head>
    <title>Playlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>
<body>
    {{{content}}}
    {{> menu }}
    <script type="text/javascript" src="/app.js"></script>
</body>
</html>
