.playlist-main {
    .song-wrapper {
        display: flex;
    }

    .playlist-action {
        &__button {
            margin: 10px;
        }
    }

    .playlist-wrapper {
        width: 100%;
    }
}
