.playlist-main {
    .song-wrapper {
        display: flex;
        justify-content: center;

        .song-item {
            min-width: 550px;
            max-width: 550px;
        }
    }

    .playlist-action {
        &__button {
            margin: 10px;
        }
    }

    .playlist-wrapper {
        width: 100%;
    }

    #playlist-date {
        text-align: center;
    }
}
