.search-results {
    margin: 0 auto;
    max-width: 900px;

    &__grid-wrapper {
        height: 350px;
        overflow-y: scroll;
    }

    &__grid-tile {
        max-width: 200px;

        // tile title bar
        img + div {
            height: unset !important;
            min-height: 68px;

            // title/subtitle container
            & > div {
                margin: 10px 5px 10px 16px !important;
            }

            // title text
            div div {
                white-space: unset !important;
            }
        }
    }
}
